* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

header {
    text-align: center;
    padding-top: 20px;
}

nav {
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(82, 82, 82);
    font-size: 25px;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 50px;
}

nav ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
}

nav ul li:hover { 
    border-radius: 5px;
    margin-top: 5px;
}

h1 {
    color: rgb(12, 9, 9);
    background-color: rgb(0, 51, 160);
    font-size: 50px;
    font-style: italic;
    text-align: center;
}

main {
    background-color: rgb(131, 128, 128);
    padding: 20px; /* afastar da parede */
    display: flex;
    flex-direction: column; /* alinha itens conforme desejado */
    justify-content: center; /* Nao deixa bater nas paredes */
    width: 90%; /* Largura de acordo com tamanho da tela */
}

.main {
    max-width: 100%;
    border-radius: 10px; /* Aredonda os cantos */
    padding: 20px;
    width: 100%;
}

.main h2 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.main img {
    width: 100%;
    height: 300px;
    border-radius: 5%;
}

.section-cursos {
    min-width: 70%;
}

.div-conteudo {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.div-item {
    margin: 0 10px;
    border-radius: 10px;
}

.div-item h2 {
    text-align: center;
    text-transform: capitalize;
    color: rgb(33, 6, 107);
    font-size: 20px;
}
.div-item p {
    text-align: center;
    color: rgb(51, 50, 50);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-contato {
    min-width: 40%;
}

.section-contato form {
    display: flex;
    flex-direction: column;
}

.section-contato form input,
.section-contato form textarea {
    margin-bottom: 10px;
    font-size: 20px;
    color: blue;
    padding: 10px;
    border-radius: 10px;
}

.section-contato form button {
    padding: 10px;
    background-color: blue;
    color: aliceblue;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.section-contato form button:hover {
    background-color: rgb(11, 32, 58);
}
